.paginated-work-card {
    position: relative;
    overflow: visible;
    border-radius: 8px;
    margin-bottom: 16px;
    width: calc(25% - 64px);
}

.paginated-image-placeholder {
    width: 100%;
    height: calc(100%);
    overflow: hidden;
}

.paginated-image-placeholder img {
    width: 100%;
    height: 444px;
    object-fit: cover;
}

.overlay-card {
    position: absolute;
    width: 75%;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
    background-color: #ffffff;
    padding: 32px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #ddd;
}
.overlay-card > .work-info {
    width: 70%;
}

.filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: 16px;
    width: 100%;
}

.filter-container label {
    margin-right: 8px;
}

.filter-container label {
    font-size: 24px;
    color: #f17900;
}

@media (max-width: 1920px) {
    .paginated-work-card {
        width: calc(33.33% - 16px);
    }
}

@media (max-width: 1200px) {
    .paginated-work-card {
        width: calc(50% - 16px);
    }
}

@media (max-width: 900px) {
    .paginated-work-card {
        width: calc(100% - 32px);
    }
}
