.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(90deg, #343333 38.05%, #484848 69.22%, #282828 98.98%);
    padding: 16px 32px;
    color: white;
    height: 127px;
}
.footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    padding: 16px 32px;
    color: black;
    height: 127px;
}

.navbar-left , .footer-left {
    display: flex;
    align-items: center;
    gap: 8px;
}


.navbar-logo img , .footer-logo img {
    width: 46px;
    object-fit: cover;
}


.navbar-text {
    font-size: 32px;
    font-weight: bold;
    color: #fff;
}

.footer-text {
    font-size: 32px;
    font-weight: bold;
    color: black;
}

.navbar-text .highlight , .footer-text .highlight {
    color: #E0A449;
}

.navbar-right ul > li > a > img  {
    height: 24px;
    margin-right: 4px;
}
.navbar-right ul {
    list-style: none;
    display: flex;
    gap: 16px;
    margin: 0;
    font-size: 24px;
}
.navbar-right ul li a {
    display: flex;
    align-items: center;
}

.navbar-right ul li a.active {
    font-weight: bold;
    color: #ffffff;
}

.navbar-right ul li a.pending {
    opacity: 0.5;
}

.burger-button {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

@media (max-width: 900px) {
    .navbar-right ul li a {
        display: block;
        align-items: center;
    }
    .navbar-right {
        display: none;
        position: absolute;
        top: 127px;
        right: 0;
        background: linear-gradient(90deg, #343333 38.05%, #484848 69.22%, #282828 98.98%);
        width: 100%;
        text-align: right;
        padding: 16px 32px;
    }


    .burger-button {
        display: block;
    }


    .navbar-right.open {
        display: block;
        z-index: 100;
    }

    .navbar-right ul {
        display: block;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .navbar-right ul li {
        margin-bottom: 16px;
    }

    .navbar-right ul li a {
        font-size: 24px;
        color: white;
        text-decoration: none;
    }
}