.favorites {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}
.favorites h4 {
    text-align: center;
}

.favorites h2 {
    font-size: 64px;
    margin: 0;
    color: #f17900;
}
.favorites > .search-screen > h2 > img {
    height: 50px;
    margin: 5px 20px 0 0;
}

.favorites > .search-screen > h1 {
    margin: 8px 0 0 0;
}

.favorites-intro {
    margin-bottom: 16px;
    color: #666;
}

.favorites-intro > h4 {
    font-size: 16px;
    color: #f17900;
    margin: 0;
}

.favorites-intro > p {
    font-size: 32px;
    margin: 4px 0;
    color: #000;
}

.favorites-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    width: 100%;
}
.favorites-container p {
    width: 100%;
    align-items: center;
}
