.detail-info {
    display: flex;
    align-items: flex-start;
}

.image-container {
    position: relative;
    margin-right: 32px;
    width:50%;
}

.image-container > img {
    width:100%;
    height: auto;
    object-fit: cover;
}

.bookmark-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    cursor: pointer;
    height: 59px;
    width:59px;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bookmark-icon > img{
    width: 24px;
    
}

.info-container {
    /*max-width: 500px;*/
    width: 50%;
}

.info-container h1 {
    margin-top: 0;
    font-size: 32px;
}

.overview > h3 {
    margin-top: 64px;
}

.overview > p {
    margin: 8px 0;
}
.detail-info strong{
    color:#E0A449;
}

@media (max-width: 900px) {
    .detail-info {
        display: block;
    }
    .info-container, .image-container {
        width: 100%;
    }
}
