.detail-info {
    display: flex;
    align-items: flex-start;
}

.image-container {
    position: relative;
    margin-right: 2rem;
    width:50%;
}

.image-container img {
    width:100%;
    height: auto;
    object-fit: cover;
}

.bookmark-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;

    cursor: pointer;
    height: 50px;
    width:50px;
    background: white;
    padding: 1rem;
}
.bookmark-icon img{
    width: 90%;
    
}

.info-container {
    /*max-width: 500px;*/
    width: 50%;
}

.overview h3 {
    margin-top: 4rem;
}

.overview p {
    margin: 0.5rem 0;
}
.detail-info strong{
    color:#E0A449;
}

@media (max-width: 900px) {
    .detail-info {
        display: block;
    }
    .info-container, .image-container {
        width: 100%;
    }
}
